<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% else %>
  <% flash.each do |k, v| %>
    <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
  <% end %>
<% end %>
