.authenticate-container {
  height: 100% !important;
}

.authenticate-field {
  margin-bottom: 1.5rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 6px;
  padding: 5px 0px 5px 5px;
}

.authenticate-form-container {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 6px;
  padding: 4rem 2rem;
}
