---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_TOKEN>&lang=ru&q=Hrodna&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1669291200,"main":{"temp":-3.39,"feels_like":-7.78,"temp_min":-3.39,"temp_max":-2.14,"pressure":1012,"sea_level":1012,"grnd_level":996,"humidity":100,"temp_kf":-1.25},"weather":[{"id":804,"main":"Clouds","description":"пасмурно","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":3.22,"deg":64,"gust":4.9},"visibility":10000,"pop":0.05,"sys":{"pod":"d"},"dt_txt":"2022-11-24
        12:00:00"},{"dt":1669302000,"main":{"temp":-3.21,"feels_like":-7.24,"temp_min":-3.21,"temp_max":-2.86,"pressure":1013,"sea_level":1013,"grnd_level":996,"humidity":98,"temp_kf":-0.35},"weather":[{"id":600,"main":"Snow","description":"небольшой
        снег","icon":"13n"}],"clouds":{"all":100},"wind":{"speed":2.88,"deg":58,"gust":5.76},"visibility":1139,"pop":0.53,"snow":{"3h":0.42},"sys":{"pod":"n"},"dt_txt":"2022-11-24
        15:00:00"},{"dt":1669312800,"main":{"temp":-3.12,"feels_like":-6.97,"temp_min":-3.12,"temp_max":-2.98,"pressure":1013,"sea_level":1013,"grnd_level":997,"humidity":97,"temp_kf":-0.14},"weather":[{"id":601,"main":"Snow","description":"снег","icon":"13n"}],"clouds":{"all":100},"wind":{"speed":2.73,"deg":51,"gust":5.89},"visibility":595,"pop":0.95,"snow":{"3h":1.65},"sys":{"pod":"n"},"dt_txt":"2022-11-24
        18:00:00"},{"dt":1669323600,"[...]
