---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_TOKEN>&lang=ru&q=Hrodna&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1669723200,"main":{"temp":-0.06,"feels_like":-3.99,"temp_min":-0.52,"temp_max":-0.06,"pressure":1029,"sea_level":1029,"grnd_level":1012,"humidity":86,"temp_kf":0.46},"weather":[{"id":804,"main":"Clouds","description":"пасмурно","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":3.5,"deg":117,"gust":7.34},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2022-11-29
        12:00:00"},{"dt":1669734000,"main":{"temp":-1.34,"feels_like":-5.14,"temp_min":-3.9,"temp_max":-1.34,"pressure":1029,"sea_level":1029,"grnd_level":1012,"humidity":90,"temp_kf":2.56},"weather":[{"id":804,"main":"Clouds","description":"пасмурно","icon":"04n"}],"clouds":{"all":98},"wind":{"speed":3.03,"deg":101,"gust":7.05},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2022-11-29
        15:00:00"},{"dt":1669744800,"main":{"temp":-0.37,"feels_like":-3.66,"temp_min":-0.5[...]
